<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clothes page</title>
</head>
<body>
    <header>
        <div><img src="" alt="logo"></div>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/shoes">Обувь</a></li>
        </ul>
    </header>
    <h3>Clothes page / Одежда</h3>
    <ul>
        <li><a href="/jackets">Куртки</a></li>
        <li><a href="/coats">Пальто</a></li>
        <li><a href="/raincoats">Плащи</a></li>
    </ul>
</body>
</html>