<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shoes page</title>
</head>
<body>
    <header>
        <div><img src="" alt="logo"></div>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/clothes">Одежда</a></li>
        </ul>
    </header>
    <h3>Shoes page / Обувь</h3>
    <ul>
        <li><a href="/jackets">Ботфорты</a></li>
        <li><a href="/coats">Ботинки</a></li>
        <li><a href="/raincoats">Кроссовки</a></li>
        <li><a href="/raincoats">Туфли</a></li>
    </ul>
</body>
</html>